<!-- <div ng-controller="addDeviceController"> -->


<form name="addDeviceForm" class="form-horizontal" novalidate>
    <legend> Device Details </legend>
    <!-- Device Name -->
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Device Name</label>
        <div class="col-md-10">
            <input type="text" name="name" class="form-control" ng-model="device.name" placeholder="Name" required ng-minlength="5">
            <p ng-show="addDeviceForm.name.$invalid && addDeviceForm.name.$dirty" class="help-block">Invalid device name</p>
        </div>
    </div>

    <!-- IP Address -->
    <div class="form-group">
        <label for="ip" class="control-label col-md-2">IP Address</label>
        <div class="col-md-10">
            <input type="text" name="ip" ip-address class="form-control" ng-model="device.ip" placeholder="IP Address" required>
            <p ng-show="addDeviceForm.ip.$invalid && addDeviceForm.ip.$dirty" class="help-block">Invalid IP address</p>
        </div>
    </div>

    <!-- Mac Address -->
    <div class="form-group">
        <label for="mac" class="control-label col-md-2">Mac Address</label>
        <div class="col-md-10">
            <input type="text" name="mac" mac-address class="form-control" ng-model="device.mac" placeholder="Mac Address" required>
            <p ng-show="addDeviceForm.mac.$invalid && addDeviceForm.mac.$dirty" class="help-block">Invalid MAC address</p>

        </div>
    </div>

    <legend> Shutdown Settings </legend>
    
    <div class="form-group">
        <label for="install_1" class="control-label col-md-2"> Password Shutdown </label>
        <div class="col-md-10">
            <toggle-switch ng-model="passwordShutdown" ng-change="certShutdown = !certShutdown" name="install_1"></toggle-switch>
        </div>
    </div>


    <div class="form-group">
        <label for="install2" class="control-label col-md-2"> Certificate Shutdown </label>
        <div class="col-md-10">
            <toggle-switch ng-model="certShutdown" ng-change="passwordShutdown = !passwordShutdown" name="install2"></toggle-switch>
        </div>
    </div>
    <!-- <input type="checkbox" name="my-checkbox" checked> -->
    
    
    <legend> Authentication Details </legend>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="device.store_ssh_username">
            Store SSH username.
        </label>
    </div>

    <!-- SSH Username -->
    <div class="form-group" ng-show="device.store_ssh_username">
        <label for="ip" class="control-label col-md-2">SSH Username</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="device.ssh_username" placeholder="SSH Username">
        </div>
    </div>




    <!-- Buttons -->
    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="col-md-10 btn-group pull-right" role="group" aria-label="..?">
            <button class="btn btn-success" ng-click="submit(device)" ng-disabled="addMachineForm.$invalid">{{OKButton}}</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>

<!--  /div> -->