<div ng-controller="addDeviceController">
	<form class="form-horizontal" >
    <legend> Add New Machine </legend>
    <!-- Machine Name -->
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Machine Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="device.name" placeholder="Name">
        </div>
    </div>

    <!-- IP Address -->
    <div class="form-group">
        <label for="ip" class="control-label col-md-2">IP Address</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="device.ip" placeholder="IP Address">
        </div>
    </div>

    <!-- IP Address -->
    <div class="form-group">
        <label for="mac" class="control-label col-md-2">Mac Address</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="device.mac" placeholder="Mac Address">
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="col-md-10 btn-group pull-right" role="group" aria-label="..?">
            <button class="btn btn-success" ng-click="submit(device)">Submit</button>
            <button class="btn btn-danger" ng-click="test()">Cancel</button>
        </div>
    </div>
</form>

</div>