
<legend>List of Machines</legend>
<div style="height:40px;" ng-repeat="machine in machines">
    <p class="inline pull-left" style="padding-top:6px"> {{machine.name}} : </p>

    <button type="button" class="btn btn-success inline pull-right" style="width:100px !important" ng-click="wakeMachine(machine.mac)" ng-hide="machine.online">Wake it!</button>
    <button type="button" class="btn btn-danger inline pull-right"  style="width:100px !important" ng-click="turnOffMachine(machine.mac)"ng-show="machine.online">Turn it off!</button><br>

</div>
