<!-- <div ng-controller="addDeviceController"> -->


<form  name="addDeviceForm" class="form-horizontal" novalidate >
    <legend> Device Details </legend>
    <!-- Device Name -->
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Device Name</label>
        <div class="col-md-10">
            <input type="text" name="name" class="form-control" ng-model="device.name" placeholder="Name" required ng-minlength="1">
            <p ng-show="addDeviceForm.name.$invalid && addDeviceForm.name.$dirty" class="help-block">Invalid device name</p>
        </div>
    </div>

    <!-- IP Address -->
    <div class="form-group">
        <label for="ip" class="control-label col-md-2">IP Address</label>
        <div class="col-md-10">
            <input type="text" name="ip" ip-address class="form-control" ng-model="device.ip" placeholder="IP Address" required>
            <p ng-show="addDeviceForm.ip.$invalid && addDeviceForm.ip.$dirty" class="help-block">Invalid IP address</p>
        </div>
    </div>

    <!-- Mac Address -->
    <div class="form-group">
        <label for="mac" class="control-label col-md-2">Mac Address</label>
        <div class="col-md-10">
            <input type="text" name="mac" mac-address class="form-control" ng-model="device.mac" placeholder="Mac Address" required>
            <p ng-show="addDeviceForm.mac.$invalid && addDeviceForm.mac.$dirty" class="help-block">Invalid MAC address</p>

        </div>
    </div>    


    <!-- Save User for Shutdown Option -->
    <div class="form-group" ng-show="OKButton == 'Add'">
        <label for="storeUser" class="control-label col-md-2">Store Username for Shutdown</label>
        <div class="col-md-10" style="padding-top:7px;">
            <input type="checkbox" name="storeUser" ng-model="storeUser">
        </div>
    </div>


    <!-- Disabled Options! -->
    <div ng-show="false">
        <legend> Shutdown Settings </legend>
        <div class="form-group">
            <label for="install_1" class="control-label col-md-2"> SSH </label>
            <div class="col-md-10">
                <toggle-switch ng-model="sshShutdown" ng-change="deamonShutdown = !deamonShutdown" name="install_1"></toggle-switch>
            </div>
        </div>

        <div class="form-group">
            <label for="install2" class="control-label col-md-2"> Helios Daemon </label>
            <div class="col-md-10">
                <toggle-switch ng-model="deamonShutdown" ng-change="sshShutdown = !sshShutdown" name="install2"></toggle-switch>
            </div>
        </div>
    </div>


    <!-- Shutdown settings -->
    <!-- HACKY!! -->
    <div ng-show="OKButton == 'Add' && storeUser">
        <legend> Shutdown Settings </legend>

        <!--  Toggle for which ssh user that is used -->
        <div class="form-group">
            <label for="sshUserSelection" class="control-label col-md-2"> User Selection </label>

            <div class="col-md-10">
                <div class="btn-group" name="sshUserSelection">
                    <label class="btn btn-primary" ng-model="injectOpts.user" btn-radio="true">Create new Helios user</label>
                    <label class="btn btn-primary" ng-model="injectOpts.user" btn-radio="false">Use existing user</label>
                </div>
            </div>
        </div>

        <!-- INFO message -->
        <div class="form-group" ng-show="injectOpts.user == true">
            <label for="warningCert" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="alert alert-info" role="alert">
                   <strong>Info:</strong> This will create a new user on the target device, as defined in <strong>config.json</strong>, <strong>and</strong> inject the self-signed Helios certificate into said device.
                </div>
            </div>
        </div>


        <!-- Username for SSH, should the regular SSH user not be used -->
        <div class="form-group" ng-show="injectOpts.user == false">
            <label for="" class="control-label col-md-2"> Username </label>
            <div class="col-md-10">
                <input type="text" name="ssh_username" class="form-control" ng-model="device.ssh_username" placeholder="Username">
            </div>
        </div>

        <!-- Cert Injection Option -->
        <div class="form-group" ng-show="injectOpts.user == false">
            <label for="injectCert" class="control-label col-md-2">Inject Cert</label>
            <div class="col-md-10" style="padding-top:7px;">
                <input type="checkbox" name="injectCert" ng-model="injectOpts.cert">
            </div>
        </div>

        <!-- No CERT INJECTION Alert -->
        <div class="form-group" ng-show="!injectOpts.cert && injectOpts.user == false">
            <label for="injectCert" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="alert alert-warning" role="alert">
                   <strong>Alert!</strong> If you do not wish to inject the Helios certificate, you will be promted for a password each time you wish to perform a shutdown. This will <strong>only</strong> work, if the selected user is in the group sudoers and have the requirred permissions. If you are unsure what any of this means, it is <strong>highly</strong> recommended that you choose to create a new Helios user.
                </div>
            </div>
        </div>

        <!-- Permission Warning -->
        <div class="form-group" ng-show="injectOpts.cert && injectOpts.user == false">
            <label for="injectCert" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="alert alert-info" role="alert">
                   <strong>Info!</strong> These options will elevate {{device.ssh_user || 'the user'}}'s permissions, to invoke shutdown and reboots, without promting for a password.
                </div>
            </div>
        </div>













    </div>





    <!-- Buttons -->
    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="col-md-10 btn-group pull-right" role="group" aria-label="..?">
            <button class="btn btn-success" ng-click="submit()" ng-disabled="addDeviceForm.$invalid">{{OKButton}}</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>